Repository TeamNijimiss/misskey, pull requests merged in 2024-08, with the labels that each got.

#3 fix(subscription): サブスクリプションの実装ミスを多数修正
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/StripeWebhookServerService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/backend/src/server/api/endpoints/subscription/create.ts
  packages/backend/src/server/api/endpoints/subscription/manage.ts
  packages/frontend/src/pages/settings/subscription.vue
Labels: packages/backend, packages/frontend

#4 Merge from host.2d
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/src/core/ClipService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/UserSuspendService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/User.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/admin/roles/update-default-policies.ts
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/backend/src/server/api/endpoints/admin/unset-user-mutual-link.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/types.ts
  packages/backend/test/e2e/users.ts
  packages/backend/test/unit/NoteCreateService.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/scripts/upload.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js, packages/backend:test

#6 サブスクリプションの更新の処理条件の調整
  packages/backend/src/server/StripeWebhookServerService.ts
Labels: packages/backend
