Repository TeamNijimiss/misskey, pull requests merged in 2024-10, with the labels that each got.

#11 サブスクリプションに関連する幾つかの修正
  .config/example.yml
  packages/backend/src/config.ts
  packages/backend/src/server/api/endpoints/subscription/manage.ts
  packages/frontend/src/components/MkUpdated.vue
  packages/frontend/src/pages/about.vue
Labels: packages/backend, packages/frontend

#14 ロールに通報の制限を行うための設定を追加
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/get-user-menu.ts
Labels: packages/backend, packages/frontend

#17 feat(role): ロールで2要素認証を必須にできるように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#19 fix(subscription): Stripeに顧客を新規作成する前にAPIに存在確認をするようにした
  packages/backend/src/server/StripeWebhookServerService.ts
  packages/backend/src/server/api/endpoints/subscription/create.ts
Labels: packages/backend

#20 fix(subscription): サブスクリプションが有効な状態でアカウントが削除できてしまう問題を修正
  packages/backend/src/server/api/endpoints/admin/accounts/delete.ts
  packages/backend/src/server/api/endpoints/i/delete-account.ts
Labels: packages/backend

#21 Merge upstream (2024.5.0-host.3c)
  package.json
  packages/backend/package.json
  packages/backend/src/core/FileInfoService.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkCaptcha.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkReactionIcon.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/scripts/filter-muted-notification.ts
  packages/frontend/src/ui/_common_/common.vue
  packages/frontend/vite.config.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
  scripts/changelog-checker/package.json
Labels: packages/backend, packages/frontend, packages/misskey-js, packages/sw

#23 fix(stripe/webhook): Customer IDに該当するユーザーが存在しない場合タイムアウトが発生する問題を修正
  packages/backend/src/server/StripeWebhookServerService.ts
Labels: packages/backend

#18 feat(drive): webpublicのサイズ上限を4096に引き上げる
  packages/backend/src/core/DriveService.ts
  packages/frontend/src/scripts/upload/compress-config.ts
Labels: packages/backend, packages/frontend

#24 サブスクリプションまわりちょっとよくした
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/accounts/find-by-stripe-customer.ts
  packages/backend/src/server/api/endpoints/subscription/manage.ts
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/scripts/lookup-user.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js
