Repository TeamNijimiss/misskey, pull requests merged in 2025-04, with the labels that each got.

#37 feat(search): 高度な検索機能を実装
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/notes/search.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/search.note.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#40 Bump up version to 2024.5.0-nijimiss.9d
  Dockerfile
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#42 fix(seaarch): 高度な検索オプションが使われない (TeamNijimiss#41)
  packages/backend/src/server/api/endpoints/notes/search.ts
Labels: packages/backend

#43 ノート検索をローカルとグローバルで分ける
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/notes/search.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#44 feat(subscription): サブスクリプション機能の削除
  .config/example.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1745048261017-DeleteSubscription.js
  packages/backend/src/config.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/core/entities/SubscriptionPlanEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/SubscriptionPlan.ts
  packages/backend/src/models/User.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/_.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/models/json-schema/subscription-plan.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/StripeWebhookServerService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/accounts/delete.ts
  packages/backend/src/server/api/endpoints/admin/accounts/find-by-stripe-customer.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/roles/delete.ts
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/backend/src/server/api/endpoints/admin/subscription-plans/archive.ts
  packages/backend/src/server/api/endpoints/admin/subscription-plans/create.ts
  packages/backend/src/server/api/endpoints/admin/subscription-plans/update.ts
  packages/backend/src/server/api/endpoints/admin/suspend-user.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/i/delete-account.ts
  packages/backend/src/server/api/endpoints/i/move.ts
  packages/backend/src/server/api/endpoints/subscription-plans/list.ts
  packages/backend/src/server/api/endpoints/subscription-plans/show.ts
  packages/backend/src/server/api/endpoints/subscription/create.ts
  packages/backend/src/server/api/endpoints/subscription/manage.ts
  packages/backend/src/types.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/subscription-plans.vue
  packages/frontend/src/pages/settings/index.vue
  packages/frontend/src/pages/settings/subscription.vue
  packages/frontend/src/router/definition.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js, packages/backend:test

#45 feat: 通報ウインドウに通報ガイドラインのリンクを表示するように
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkAbuseReportWindow.vue
Labels: packages/frontend

#46 fix(frontend/navbar): サブスクリプションのリンクを修正
  packages/frontend/src/navbar.ts
Labels: packages/frontend

#47 Bump up version to 2024.5.0-nijimiss.9g
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js
